.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;

    .navbar-items {
        display: flex;

        .item {
            margin: 0 15px;
        }
    }
}